<meta charset="UTF-8">
<title>{{- block "title" . -}}
        {{- if not .IsHome -}}
          {{ with .Title }}{{ . }}&nbsp;-&nbsp;{{ end }}
        {{- end -}}
        {{ .Site.Title }}
      {{- end -}}</title>
{{ $style := resources.Get "styles/dark.css" }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
