body {
  -webkit-text-size-adjust: 100%; /* prevent Mobile Safari from adjusting font sizes */
}

nav a.current {
  color: var(--accent) !important;
  border-color: var(--accent) !important;
}

div.pagination {
  display: flex;
  justify-content: space-between;
}

ul.blog-posts {
  padding-left: 0;
}

ul.blog-posts > li {
  list-style-type: none;
  display: flex;
}

ul.blog-posts > li span {
  flex: 0 0 130px;
  color: var(--text-light);
}

nav#TableOfContents > ul {
  margin-block-start: 0;
}

main > p:first-child time {
  color: var(--text-light);
}

.icon {
  vertical-align: sub;
  padding-right: 0.25rem;
  display: inline-block;
  width: 1em;
  height: 1.3em;
  margin-right: 0.2rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}


 .fc {
  display: flex; /* or inline-flex */
  justify-content: space-between;
  gap: 1rem;
  margin: -1rem 0;
  padding: 0;
}

.fi2 {
  flex-grow: 4; /* default 0 */
}

.border-box {
  border-width: 1px;
  border-style: solid;
  border-color:  var(--text);
  padding: 0.25rem 1rem;
  margin: 1rem 0;
}

.big-boss {
  border-width: 1px;
  padding: 0.0rem 1rem;
  margin: 0rem 0;
}

.card {
  position: relative;
  width: 50%;
  display: inline-block;
}

.card img {
  width: 100%;
  display: block;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 1rem;
  text-align: center;
}

.card:hover .overlay {
  opacity: 1;
}